.free-slot {
    -moz-box-shadow: 0 0 0 1px #d8d8d8;
    -webkit-box-shadow: 0 0 0 1px #d8d8d8;
    box-shadow: 0 0 0 1px #d8d8d8;
    border-collapse: separate;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #eee;
    background-size: cover;
}

.slot {
    float: left;
    margin-right: 5px;
}

.link-group {
    overflow: scroll;
}

#create-room-2{
    cursor: pointer;
}
#entry {
    border-radius: 2px;
    background: #53a93f;
}
#create {
    border-radius: 2px;
    background: #F6C333;
}

thead td{
    font-weight: bold;
}
